/* Navigation CSS */
.nav {
    display: flex;
    background-color: none; 
    height: 72px;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    
    }
    
    
    .name {
        box-sizing: border-box;
        margin: 2rem;
        padding: 0;
        font-size: 40px;
        color: black;
        text-align: center;
    }
    #rightNav p {
        display: inline-flex;
        font-size:20px;
            
    }
    
    .menu-item {
        box-sizing: border-box;
        margin: 50px;
        cursor: pointer;
        color: black;
        text-align: center;
        justify-content: center;
    }
    
    /* Column CSS */
    .aboutme{
        text-align: center;
        font-size: 50px;
        font-family: 'Roboto Slab', serif;
    }
  .grid-container{
    display: grid;
    height: auto;
    font-family: 'Roboto Slab', serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "aboutmeTop aboutmeTop"
    "resume resume"
    "aboutmeCenter aboutmeCenter"
    "slides slides"
    "aboutmeBottom aboutmeBottom"
    "figma figma"
    "miro miro"
    "invision invision"
    "github github"     
  }
    
.aboutmeTop{
      grid-area: aboutmeTop;
      box-sizing: border-box;
      font-size: 1.5rem;
      text-align: justify;
      margin-right: 25rem;
      margin-left: 5rem;
      padding: 1rem;
  }
.resume{
   grid-area: resume;
   box-sizing: border-box;
   border: solid black;
   font-size: 1.5rem;
   text-align: center;
   margin-right: 10rem;
   margin-left: 70rem;
   padding: 1rem;
}
.aboutmeCenter{
   grid-area: aboutmeCenter;
   box-sizing: border-box;
   font-size: 1.5rem;
   text-align: justify;
   margin-right: 25rem;
   margin-left: 5rem;
   padding: 1rem;
}

.slides{
    grid-area: slides;
    box-sizing: border-box;
    border: solid black;
    text-align: right;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10rem;
    margin-left: 70rem;
    padding: 1rem;
}

.aboutmeBottom{
  grid-area: aboutmeBottom;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 25rem;
  margin-left: 5rem;
  padding: 1rem;
}
#figma {
   grid-area:figma;
   box-sizing: border-box;
   border: solid black;
   text-align: right;
   font-size: 1.5rem;
   text-align: center;
   margin-right: 10rem;
   margin-left: 70rem;
   padding: 1rem;
}
#miro{
    grid-area: miro;
    box-sizing: border-box;
    border: solid black;
    text-align: right;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10rem;
    margin-left: 70rem;
    padding: 1rem;
}
#invision{
    grid-area:invision;
    box-sizing: border-box;
    border: solid black;
    text-align: right;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10rem;
    margin-left: 70rem;
    padding: 1rem;
}
#github{
  grid-area: github;
  box-sizing: border-box;
  border: solid black;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 10rem;
  margin-left: 70rem;
  padding: 1rem;
}




/* Footer CSS */
    .footer{
        display: flex;
        background-color: rgba(145, 35, 35, 0.1);
        font-size: 40px;
        justify-content:space-between;
        align-items: baseline;
        font-family: 'Roboto Slab', serif;
        margin-top: 100px;
    
    
    }
    .contact {
        cursor:pointer;
    }
    img {
        cursor:pointer;
    }
    
@media only screen and (max-width: 600px) {
    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
    .nav{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
   #rightNav{
       display: flex;
       justify-content: center;
       text-align: center;
   }
        

    .name {
        text-align: center;
        font-size: 3rem;
    
    }

    .menu-item{
        display: flex;
        text-align: center;
        
    }

    .grid-container{
        display: grid;
        height: auto;
        justify-content: center;
        font-family: 'Roboto Slab', serif;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "aboutmeTop"
        "resume"
        "aboutmeCenter"
        "slides"
        "aboutmeBottom"
        "figma"
        "miro"
        "invision "
        "github "     
      }
        
    .aboutmeTop{
    grid-area: aboutmeTop;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 48rem;
    margin-right: 48rem;
    justify-items: center;
         
      }
    .resume{
       grid-area: resume;
       box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    .aboutmeCenter{
       grid-area: aboutmeCenter;
       box-sizing: border-box;
       font-size: 1.2rem;
        text-align: center;
       margin-left: 48rem;
       margin-right: 48rem;
       justify-items: center;
    }
    
    .slides{
        grid-area: slides;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    
    .aboutmeBottom{
      grid-area: aboutmeBottom;
      box-sizing: border-box;
      font-size: 1.2rem;
        text-align: center;
      margin-left: 48rem;
      margin-right: 48rem;
      justify-items: center;
    }
    #figma {
       grid-area:figma;
       box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #miro{
        grid-area: miro;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #invision{
        grid-area:invision;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #github{
      grid-area: github;
      box-sizing: border-box;
      font-size: 1.2rem;
        text-align: center;
      margin-left: 48rem;
      margin-right: 48rem;
      justify-items: center;
    }
}
    