#topSec{
  height: 72px;
  position: relative;
}
.navBar{
  display: block;
  text-align:center;
  box-sizing: border-box;
  color:black;
  margin-top: 2rem;
  list-style-type: none;
}
li > a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto Slab', serif;
  margin-right: 5rem;
  font-size: 1rem;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(0,0,255);
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 3.7rem;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

    
    /* Column CSS */
    .aboutme{
        text-align: center;
        font-size: 50px;
        font-family: 'Roboto Slab', serif;
    }
  .grid-container{
    display: grid;
    height: auto;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "aboutmeTop aboutmeTop"
    "resume resume"
    "aboutmeCenter aboutmeCenter"
    "slides slides"
    "aboutmeBottom aboutmeBottom"
    "figma figma"
    "miro miro"
    "invision invision"
    "github github"     
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
    
.aboutmeTop{
      grid-area: aboutmeTop;
      box-sizing: border-box;
      font-size: 1.5rem;
      text-align: justify;
      margin-right: 10rem;
      margin-left: 5rem;
      padding: 5rem;
      box-shadow: 0 10px 20px -8px rgba(218, 122, 13, 0.7);
  }

.resume {
  grid-area: resume;
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}


.resume{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.resume:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.resume:hover{
  padding-right: 24px;
  padding-left:8px;
}

.resume:hover:after {
  opacity: 1;
  right: 10px;

}

.aboutmeCenter{
   grid-area: aboutmeCenter;
   box-sizing: border-box;
   font-size: 1.5rem;
   text-align: justify;
   margin-right: 10rem;
   margin-left: 5rem;
   padding: 5rem;
   box-shadow: 0 10px 20px -8px rgba(32, 196, 46, 0.7);
}

.slides {
  grid-area: slides;
  border-radius: 4px;
  background-color: #6C30FB;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}

.slides{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.slides:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.slides:hover{
  padding-right: 24px;
  padding-left:8px;
}

.slides:hover:after {
  opacity: 1;
  right: 10px;
}

.aboutmeBottom{
  grid-area: aboutmeBottom;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 10rem;
  margin-left: 5rem;
  padding: 5rem;
  box-shadow: 0 10px 20px -8px rgba(250, 5, 5, 0.7);
}

#figma {
  grid-area: figma;
  border-radius: 4px;
  background-color: #FD9F91;
  border: none;
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}

#figma{
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#figma:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#figma:hover{
  padding-right: 24px;
  padding-left:8px;
}

#figma:hover:after {
  opacity: 1;
  right: 10px;
}

#miro {
  grid-area: miro;
  border-radius: 4px;
  background-color: #FFFF00;
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}

#miro{
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#miro:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#miro:hover{
  padding-right: 24px;
  padding-left:8px;
}

#miro:hover:after {
  opacity: 1;
  right: 10px;
}


#invision {
  grid-area: invision;
  border-radius: 4px;
  background-color: #e75480;
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}

#invision{
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#invision:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#invision:hover{
  padding-right: 24px;
  padding-left:8px;
}

#invision:hover:after {
  opacity: 1;
  right: 10px;
}
#github{
  grid-area: github;
  box-sizing: border-box;
  border: solid black;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 10rem;
  margin-left: 70rem;
  padding: 1rem;
  cursor: pointer;
}
#github {
  grid-area: github;
  border-radius: 4px;
  background-color: #6a0dad;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  margin-left: 80rem;
}

#github{
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#github:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#github:hover{
  padding-right: 24px;
  padding-left:8px;
}

#github:hover:after {
  opacity: 1;
  right: 10px;
}



/* Footer CSS */
.footer{
  box-sizing: border-box;
  display: flex;
  background-color: rgba(87, 114, 97, 0.1);
  font-size: 20px;
  justify-content:space-between;
  font-family: 'Roboto Slab', serif;


}
#rightBC {
  color: black;
  margin-right: 30px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  
}
#leftBC {
      margin-left: 30px;
}
.underline-hover {
  display: inline-block;
  position: relative;
  color: rgb(0,0,255);
}
.underline-hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
    
@media only screen and (max-width: 600px) {
    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
    #topSec{
      height: 100px;
      position: relative;
  }
  .navBar{
      display:block;
      margin-right: 1rem;
      box-sizing: border-box;
      color:black;
      list-style-type: none;
  }
  li > a{
      text-decoration: none;
      color: black;
      font-family: 'Roboto Slab', serif;
      font-size: 1rem;
  }
  #chitranLogo{
      margin-top: 3rem;
      margin-left: 10rem;
  }  

    .grid-container{
        display: grid;
        height: auto;
        justify-content: center;
        font-family: 'Roboto Slab', serif;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "aboutmeTop"
        "resume"
        "aboutmeCenter"
        "slides"
        "aboutmeBottom"
        "figma"
        "miro"
        "invision "
        "github "     
      }
        
    .aboutmeTop{
    grid-area: aboutmeTop;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 48rem;
    margin-right: 48rem;
    justify-items: center;
         
      }
    .resume{
       grid-area: resume;
       box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    .aboutmeCenter{
       grid-area: aboutmeCenter;
       box-sizing: border-box;
       font-size: 1.2rem;
        text-align: center;
       margin-left: 48rem;
       margin-right: 48rem;
       justify-items: center;
    }
    
    .slides{
        grid-area: slides;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    
    .aboutmeBottom{
      grid-area: aboutmeBottom;
      box-sizing: border-box;
      font-size: 1.2rem;
        text-align: center;
      margin-left: 48rem;
      margin-right: 48rem;
      justify-items: center;
    }
    #figma {
       grid-area:figma;
       box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #miro{
        grid-area: miro;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #invision{
        grid-area:invision;
        box-sizing: border-box;
       border: solid black;
       font-size: 1.5rem;
       text-align: center;
       margin-right: 50rem;
    }
    #github{
      grid-area: github;
      box-sizing: border-box;
      font-size: 1.2rem;
        text-align: center;
      margin-left: 48rem;
      margin-right: 48rem;
      justify-items: center;
    }
}
    