#topSec{
    height: 72px;
    position: relative;
}
.navBar{
    display: block;
    text-align:center;
    box-sizing: border-box;
    color:black;
    margin-top: 2rem;
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
    margin-right: 5rem;
    font-size: 1.3rem;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 5rem;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    /* Column CSS */
    
    .topCon{
        text-align: center;
        font-size: 50px;
        font-family: 'Roboto Slab', serif;
    }

    .containerCon {
    display: grid;
    height: auto;
    font-family: 'Roboto Slab', serif;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    grid-template-areas: 
    "mailOn mailOn"
    "linkOn linkOn" 
    "resumeOn resumeOn"
    
    ;
    }

    
    .mailOn{
        grid-area: mailOn ;
        box-sizing: border-box;
        background-image: url("../img/outlook.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 5rem;
        margin-right: 20rem;
        margin-left: 20rem;
        margin-bottom: 5rem;
        padding: 2rem;

    }
    .linkOn {
        grid-area: linkOn ;
     box-sizing: border-box;
        background-image: url("../img/Linkedin.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 5rem;
        margin-right: 20rem;
        margin-left: 20rem;
        margin-bottom: 5rem;
        padding: 2rem;
        
    }
    
    .resumeOn {
        grid-area: resumeOn ;
        box-sizing: border-box;
        background-image: url("../img/word.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 5rem;
        margin-right: 20rem;
        margin-left: 20rem;
        margin-bottom: 5rem;
        padding: 2rem;
        
    }
    
    #text{
        background: rgba(28, 36, 44, 0.2);
        color: white;
        font-size: 20px;
        margin-top: 250px;
        padding: 15px;
        cursor: pointer;
        font-family: 'Roboto Slab', serif;
        
    }


/* Footer CSS */
.footer{
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    justify-content:space-between;
    font-family: 'Roboto Slab', serif;
    margin-top: 3rem;
    padding: 2rem;
    background:
      linear-gradient(to bottom right, #000000 1%, transparent),
      radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
      linear-gradient(to bottom right, #ffffff, #ffffff);

}
#rightBC {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;    
}
#leftBC {
  color: white;
        margin-left: 30px;
}
.underline-hover {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .underline-hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .underline-hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    @media only screen and (max-width: 600px) {
        /* STYLES HERE for DEVICES with physical max-screen width of 480px */
        #topSec{
            height: 100px;
            position: relative;
        }
        .navBar{
            display:block;
            margin-right: 1rem;
            box-sizing: border-box;
            color:black;
            list-style-type: none;
        }
        li > a{
            text-decoration: none;
            color: black;
            font-family: 'Roboto Slab', serif;
            font-size: 1rem;
        }
        .hover-underline-animation {
            display: inline-block;
            position: relative;
            color: rgb(0,0,255);
          }
          .hover-underline-animation:after {
            content: '';
            position: absolute;
            width: 4rem;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: rgb(0,0,255);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        #chitranLogo{
            margin-top: 2rem;
            margin-left: 10rem;
            

        } 
        .topCon{
            margin-top: 5rem;
            font-size: 50px;
            font-family: 'Roboto Slab', serif;
            margin-right: .5rem;
        }
        .containerCon {
            display: grid;
            height: auto;
            font-family: 'Roboto Slab', serif;
            grid-template-columns: 1fr 1fr;
            grid-row: 1fr;
            grid-template-areas: 
            "mailOn mailOn"
            "linkOn linkOn" 
            "resumeOn resumeOn"
            ;
            }
        
            
            .mailOn{
                grid-area: mailOn ;
                box-sizing: border-box;
                background-image: url("../img/outlook.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-top: 5rem;
                margin-left: 1rem;
                margin-right: 1rem;
               
        
            }
            .linkOn {
                grid-area: linkOn ;
             box-sizing: border-box;
                background-image: url("../img/Linkedin.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-top: 5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                
            }
            
            .resumeOn {
                grid-area: resumeOn ;
                box-sizing: border-box;
                background-image: url("../img/word.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-top: 5rem;
                margin-left: 1rem;
                margin-right: 1rem;
              
                
            }
            
            #text{
                background: rgba(28, 36, 44, 0.2);
                color: white;
                font-size: 20px;
                margin-top: 250px;
                padding: 15px;
                cursor: pointer;
                font-family: 'Roboto Slab', serif;
                
            }
    }