#topSec{
    height: 72px;
    position: relative;
}
.navBar{
    display: block;
    text-align:center;
    box-sizing: border-box;
    color:black;
    margin-top: 2rem;
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
    margin-right: 5rem;
    font-size: 1rem;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 3.7rem;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .project{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    height: 10rem;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

    /* Top layout  */

  .rapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .cardR {
    grid-area: 1 / 1;
    height: 200px;
    width: 600px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(33, 249, 26, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .cardR .enclosed {
    background: #000;
    line-height: 1;
    color: rgb(85, 26, 249);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .rapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .rapper:hover > div,
  .rapper:hover:before {
    transform: none;
  }
  
  
  .rapper > div,
  .rapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  
  sectionTop {
    height: 100%;
  }
  
  sectionTop {
    display: grid;
    place-items: center;
    margin-bottom: 20rem;
    
  }
   
 /* Middle layout  */

  .rapperM {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .cardM {
    grid-area: 1 / 1;
    height: 200px;
    width: 600px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(26, 215, 249, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .cardM .enclosed {
    background: #000;
    line-height: 1;
    color: rgb(26, 249, 219);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .rapperM:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .rapperM:hover > div,
  .rapperM:hover:before {
    transform: none;
  }
  
  
  .rapperM > div,
  .rapperM:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  
  sectionMiddle {
    height: 100%;
  }
  
  sectionMiddle {
    display: grid;
    place-items: center;
    margin-bottom: 20rem;
  } 


 /* Bottom layout  */

 .rapperB {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .cardB {
    grid-area: 1 / 1;
    height: 200px;
    width: 600px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(241, 26, 249, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .cardB .enclosed {
    background: #000;
    line-height: 1;
    color: rgb(160, 26, 249);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .rapperB:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .rapperB:hover > div,
  .rapperB:hover:before {
    transform: none;
  }
  
  
  .rapperB > div,
  .rapperB:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  
  sectionBottom {
    height: 100%;
  }
  
  sectionBottom {
    display: grid;
    place-items: center;
    margin-bottom: 20rem;
  }





  /* Footer CSS */
.footer{
    box-sizing: border-box;
    display: flex;
    background-color: rgba(87, 114, 97, 0.1);
    font-size: 20px;
    justify-content:space-between;
    font-family: 'Roboto Slab', serif;


}
#rightBC {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    
}
#leftBC {
        margin-left: 30px;
}
.underline-hover {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .underline-hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .underline-hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    @media only screen and (max-width: 600px) {
        /* STYLES HERE for DEVICES with physical max-screen width of 480px */
        #topSec{
            height: 100px;
            position: relative;
        }
        .navBar{
            display:block;
            margin-right: 1rem;
            box-sizing: border-box;
            color:black;
            list-style-type: none;
        }
        li > a{
            text-decoration: none;
            color: black;
            font-family: 'Roboto Slab', serif;
            font-size: 1rem;
        }
        #chitranLogo{
            margin-top: 3rem;
            margin-left: 10rem;
        }  
    
        .containerBox{
            display: grid;
            height: auto;
            justify-content: center;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr ;
            grid-template-areas: 
            "lefttravel"
            "firstline"
            "leftZen" 
            "secondline"
            "theBig" 
            "thirdline"
    
        }
    
    
        #lefttravel{
            grid-area: lefttravel;
            box-sizing: border-box; 
            margin-right: 9rem;
        }
    
        .firstline {
            grid-area: firstline;
            box-sizing: border-box;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            margin-bottom: 10rem;
            margin-left: 10rem;    
        }
    
    
        #leftZen {
            grid-area: leftZen;
            box-sizing: border-box; 
            box-sizing: border-box; 
            margin-right: 9rem;
           
        
        }
    
        .secondline{
            grid-area: secondline;
            box-sizing: border-box;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            margin-bottom: 10rem;
            margin-left: 10rem;    
        }
     
        
        #theBig {
            grid-area: theBig;
            box-sizing: border-box; 
            box-sizing: border-box; 
            margin-right: 9rem;
        }
        .thirdline{
            grid-area: thirdline;
            box-sizing: border-box;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            margin-left: 10rem;    
        }
    }

