#topSec{
    height: 72px;
    position: relative;
}
.navBar{
    display: block;
    text-align:center;
    box-sizing: border-box;
    color:black;
    margin-top: 2rem;
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
    margin-right: 5rem;
    font-size: 1.3rem;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 5rem;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* Column CSS */

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    margin-top: 5rem;
    width: 30rem;
    padding: 2rem;
    margin-left: 40rem;
    font-size: 2rem;
    color: white;
    font-family: 'Merienda';font-size: 22px;
  }

.speech-bubble:after {
content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 58px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -29px;
	margin-bottom: -58px;
}

.imageT{
  display: inline;

}






.container {
    display: grid;
    height: auto;
    width: auto;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "textaboutpara textaboutpara"
    
    
    
}
h1{
  color: red;
}


.textaboutpara{
    grid-area: textaboutpara;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    height: auto;
    font-size: 2rem;
    width: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 3px 24px rgba(0,0,0,.24);
    color: black;
    margin-left: 5rem;
    margin-right: 5rem;
    
}


/* Middle CSS */

main{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 3000ms;
    background:
    linear-gradient(to bottom right, #3C4BBD 1%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3C4BBD, #57ADD8);
  }
  .active{
    color: black;
  }
  
  :root {
    --grid-d: span 12;
    --grid-h: span 12;
  }

  
  /*  */
  
  main {
  /*   GRID   */
      display: grid;
      grid-template-columns: repeat(1px, 90px);
    grid-gap: 2rem;
  /*        */
        padding: 1rem;
  }
  
  
  main >.projects {
    grid-column: var(--grid-h);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: 'Roboto Slab', serif;
    grid-gap: 1rem;
    text-align: center;
    font-size: 3rem;
    margin-right: 30rem;
    margin-left: 30rem;
  }





  .card {
    box-shadow: 0 1px 3px rgba(0,0,0,.24);
    border-radius: .25rem;
    grid-column: var(--grid-d);
    background-color: white;
    min-height: 200px;
    transition: 1000ms;
    
  }
  
  .card:hover {
    box-shadow: 0 1px 50px rgba(0,0,0,.16);
    transform: scale(1.3);
    z-index: 12;
  }

  #travBack{
      background-image: url("../img/travBack.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 100% 100%;

    
  }
  #zenBack{
    background-image: url("../img/ZenBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#umbreBack{
    background-image: url("../img/Umbre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Footer CSS */
.footer{
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    justify-content:space-between;
    font-family: 'Roboto Slab', serif;
    margin-top: 3rem;
    padding: 2rem;
    background:
      linear-gradient(to bottom right, #000000 1%, transparent),
      radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
      linear-gradient(to bottom right, #ffffff, #ffffff);

}
#rightBC {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;    
}
#leftBC {
  color: white;
        margin-left: 30px;
}
.underline-hover {
    display: inline-block;
    position: relative;
    color: rgb(0,0,255);
  }
  .underline-hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .underline-hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  * General Styling */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }
  
  @media (max-width: 567px) {
    h1 {
      font-size: 7vw;
      text-align: center;
    }
  }
  
  
  /* Loader Styles start here */
  .loader-wrapper {
    --line-width: 5px;
    --curtain-color: #f1faee;
    --outer-line-color: #a8dadc;
    --middle-line-color: #457b9d;
    --inner-line-color: #1d3557;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }
  
  .loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
  /*   transform: translate(-50%, -50%); */
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--outer-line-color);
    border-radius:100%;
    -webkit-animation: spin 5s linear infinite;
            animation: spin 5s linear infinite;
    z-index:1001;
  }
  
  .loader:before {
    content:"";
    position: absolute;
    top:4px;
    left:4px;
    right:4px;
    bottom:4px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--inner-line-color);
    border-radius:100%;
    -webkit-animation: spin 60s linear infinite;
            animation: spin 60s linear infinite;
  }
  
  .loader:after {
    content:"";
    position: absolute;
    top:14px;
    left:14px;
    right:14px;
    bottom:14px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--middle-line-color);
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  
  .loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background:var(--curtain-color);
    width:51%;
    height:100%;
    z-index:1000;
  }
  
  .loader-wrapper .loader-section.section-left {
    left:0
  }
  .loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */ 
  .loaded .loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 10s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded .loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 1s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded .loader {
    opacity: 0;
    transition: all 1s ease-out;
  }
  .loaded .loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 1s 1s ease-out;
  }

@media only screen and (max-width: 600px) {
    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
    #topSec{
        height: 100px;
        position: relative;
    }
    .navBar{
        display:block;
        margin-right: 1rem;
        box-sizing: border-box;
        color:black;
        list-style-type: none;
    }
    li > a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
    }
    #chitranLogo{
        margin-top: 3rem;
        margin-left: 10rem;
    }  

    .introme{
        margin-top: 10rem;
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto Slab', serif;
    }
    .hover-underline-animation {
      display: inline-block;
      position: relative;
      color: rgb(0,0,255);
    }
    .hover-underline-animation:after {
      content: '';
      position: absolute;
      width: 4rem;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(0,0,255);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    .container {
        display: grid;
        height: auto;
        font-family: 'Roboto Slab', serif;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "container container"
        "textaboutpara textaboutpara"
        "preproject preproject"
        "app app"
        
    }
    
    .textaboutpara{
        grid-area: textaboutpara;
        box-sizing: border-box;
        margin-top: 5rem;
        text-align: center;
        
    }

    
    .preproject{
        grid-area: preproject;
        box-sizing: border-box;
        margin-top: 4rem;
        margin-left: 35rem;
        margin-right: 35rem;
    }
    .app{
        grid-area: app;
        box-sizing: border-box;
        border: solid black;
        text-align: center;
        padding: 3rem;
        font-size: 2rem;
        margin-bottom: 3rem;
        
    }
 /* Middle CSS */

main{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 3000ms;
  text-decoration: none;
  color: black;
  background:
  linear-gradient(to bottom right, #3C4BBD 1%, transparent),
  radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
  linear-gradient(to bottom right, #3C4BBD, #57ADD8);
}

:root {
  --grid-d: span 12;
  --grid-h: span 12;
}


/*  */

main {
/*   GRID   */
    display: grid;
    grid-template-columns: repeat(1px, 90px);
  grid-gap: 2rem;
/*        */
      padding: 1rem;
}


main > .projects {
  grid-column: var(--grid-h);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: 'Roboto Slab', serif;
  grid-gap: 1rem;
  text-align: center;
  font-size: 3rem;
  margin-right: 30rem;
  margin-left: 30rem;
 
  

}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,.24);
  border-radius: .25rem;
  grid-column: var(--grid-d);
  background-color: white;
  min-height: 200px;
  transition: 1000ms;
  
}

.card:hover {
  box-shadow: 0 1px 50px rgba(0,0,0,.16);
  transform: scale(1.3);
  z-index: 12;
}

#travBack{
    background-image: url("../img/travBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#zenBack{
  background-image: url("../img/ZenBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#umbreBack{
  background-image: url("../img/Umbre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

}


